{{!-- todos los css 
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="./styles/documentos.css">
    
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/styleprofes.css">
    <link rel="stylesheet" type="text/css" href="/styles/stylesCarrMat.css">
    <link rel="stylesheet" type="text/css" href="/styles/stylesCursos.css">
    <link rel="stylesheet" type="text/css" href="/styles/stylesMenEncPie.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Pagina Web</title>
</head> 
{ todos los css --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    {{!--<link rel="stylesheet" type="text/css" href="./styles/documentos.css">--}}
    {{!--<link rel="stylesheet" type="text/css" href="./styles/index.css">--}}
    {{!--<link rel="stylesheet" type="text/css" href="./styles/styleoportunidadeslaborales.css">--}}
    {{!--<link rel="stylesheet" type="text/css" href="./styles/styleprofes.css">--}}
    {{!--<link rel="stylesheet" type="text/css" href="./styles/stylesCarrMat.css">--}}
    {{!--<link rel="stylesheet" type="text/css" href="./styles/stylesCursos.css">--}}
    <link rel="stylesheet" type="text/css" href="./styles/stylesMenEncPie.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Pagina Web</title>
</head>