<!-- Estructura HTML del menú -->
<header>
    <div id="logo-container">
        <div id="logo1">
            <a href="/">
                <img src="imagenes/logo1.png" alt="Logo 1">
            </a>
        </div>
    </div>
</header>

<div id="menu-container">
    <nav id="mainav" class="hoc clear">
        <ul class="clear">
            <li><a href="/carreras-unsa" class="nav-link">UNSA</a></li>
            <li><a href="/carreras-ucasal" class="nav-link">UCASAL</a></li>
            <li><a href="/cursos" class="nav-link">CURSOS Y CARRERAS GRATUITAS</a></li>
            <li><a href="/profesores" class="nav-link">PROFESORES PARTICULARES</a></li>
        </ul>
    </nav>
</div>


