<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Aquí va el enlace a tu archivo CSS -->
    {{!-- <link rel="stylesheet" type="text/css" href="./styles/index.css"> --}}
    <!-- Otros elementos del encabezado -->
</head>
<body>
<div class="banner-container">
        <video autoplay muted loop id="banner-video">
            <source src="videos/educationIt.webm" type="video/mp4">
            Tu navegador no admite el elemento de video.
        </video>
        <div class="banner-content">
            <!--FRASE SOBRE EL VIDEO -->
            <div class="banner-text">
                <p id="typing-banner-text"></p>
            </div>
            <h2></h2>
            <!--FIN DE FRASE SOBRE EL VIDEO -->
        </div>
    </div>
    <!-- BODY: Quiénes somos y video promocional-->
    <div class="container">
        <div class="text-section">
            <h3>SOBRE NOSOTROS</h3>
            <p>¡Hola! Somos un equipo de cinco apasionadas estudiantes universitarias que se han unido
            para crear esta plataforma con el objetivo de hacer la vida académica más accesible y enriquecedora para todos 
            los estudiantes. Entendemos los desafíos que enfrentan los estudiantes en su camino hacia el éxito académico 
            y profesional, y hemos diseñado esta página web para brindarles recursos y oportunidades que faciliten su trayectoria.
            Nuestro propósito es proporcionar a los estudiantes universitarios un espacio en línea donde 
            puedan acceder a una variedad de recursos y servicios diseñados específicamente para ellos. Creemos en la 
            importancia de la educación y el aprendizaje continuo, y queremos ser un puente entre los estudiantes y las 
            herramientas que necesitan para tener éxito en sus estudios y más allá.
            Estamos comprometidas con el éxito de cada estudiante que visite nuestra página. Sabemos que cada uno tiene sus 
            propios objetivos y desafíos únicos, y nos enorgullece ofrecer un entorno en el que puedas encontrar apoyo, 
            inspiración y herramientas valiosas para tu viaje educativo.
            </p>
            <button class="consult-button">Consultanos</button>
        </div>
        <div class="video-section">
            <video width="640" height="360" controls><source src="videos/compartiendo_conocimientos.mp4" type="video/mp4"></video>
        </div>
    </div>
    <!-- Sección "Nuestros Servicios" -->
    <section id="nuestros-servicios">
        <h2>NUESTROS SERVICIOS</h2>
        <h3>Contruimos Herramientas para los estudiantes</h3>
        <div class="servicio">
            <div class="servicio-icon">
            <!-- Aquí puedes agregar un icono o imagen que represente el servicio -->
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                    <path d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"/>
                </svg>
            </div>
            <h3>Documentos Academicos</h3>
            <p>Ofrecemos una amplia gama de recursos y detalles sobre las universidades disponibles. </p>
        </div>
        <div class="servicio">
            <div class="servicio-icon">
            <!-- Aquí puedes agregar un icono o imagen que represente el servicio -->
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                    <path d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.4-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"/>
                </svg>
            </div>
            <h3>Cursos Gratuitos</h3>
            <p>Facilitamos el acceso a una variedad de cursos gratuitos en línea.</p>
        </div>
        <div class="servicio">
            <div class="servicio-icon">
            <!-- Aquí puedes agregar un icono o imagen que represente el servicio -->
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                    <path d="M192 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm-8 384V352h16V480c0 17.7 14.3 32 32 32s32-14.3 32-32V192h56 64 16c17.7 0 32-14.3 32-32s-14.3-32-32-32H384V64H576V256H384V224H320v48c0 26.5 21.5 48 48 48H592c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48H368c-26.5 0-48 21.5-48 48v80H243.1 177.1c-33.7 0-64.9 17.7-82.3 46.6l-58.3 97c-9.1 15.1-4.2 34.8 10.9 43.9s34.8 4.2 43.9-10.9L120 256.9V480c0 17.7 14.3 32 32 32s32-14.3 32-32z"/>
                </svg>
            </div>
            <h3>Profesores Particulares</h3>
            <p>Conectamos a los estudiantes con profesores particulares calificados y apasionados.</p>
        </div>
        
    </section>

    <!--PASOS -->
    <div class="rectangulo">
        <h1>¿Cómo funciona la página?</h1>
    </div>
    <img class="Imagencentro" src="imagenes/cerebro.png" alt="Imagen de fondo">
    <section id="pasos">
        <div class="paso">
            <img class="paso-img" src="imagenes/imagenes Pasos/imagen3.png" alt="Paso 1">
            <div class="paso-content1">
                <p>Explora nuestra variedad de recursos que tenemos para ofrecerte</p>
            </div>
        </div>
        <div class="paso">
            <div class="paso-content2">
                <p>Elige el recurso que mejor se adapte a tus necesidades académicas.</p>
            </div>
            <img class="paso-img" src="imagenes/imagenes Pasos/imagen3.png" alt="Paso 2">
        </div>
        <div class="paso">
            <img class="paso-img" src="imagenes/imagenes Pasos/imagen3.png" alt="Paso 3">
            <div class="paso-content3">
            <p>Participa en cursos, accede a documentos útiles o encuentra a un profesor particular dispuesto a ayudarte.</p>
            </div>
        </div>
        <div class="paso">
            <div class="paso-content4">
                <p>Crece académicamente a medida que aprovechas nuestros recursos y servicios para tu desarrollo.</p>
            </div>
            <img class="paso-img" src="imagenes/imagenes Pasos/imagen2.png" alt="Paso 4">
        </div>
    </section>

    <p id="Formulario">Únete a nosotros mientras creamos un espacio donde la educación y el crecimiento se encuentran, y donde cada estudiante puede encontrar el camino hacia su mejor versión.</p>
    <button id="popupButton">COMPARTIR MATERIAL</button>
    <div id="popup" class="popup">
        <div class="popup-header">
            <h2>Compartiendo Conocimientos</h2>
            <button id="closeButton" class="round-button">
                <span class="close-icon">X</span>
            </button>
        </div>
        <section class="popup-section">
            <p>Llena a continuación los datos y sube los documentos que quieras compartir</p>
            <form id="fileForm" action="https://formsubmit.co/compartiendoconocimientos23@gmail.com" method="POST" enctype="multipart/form-data">
                <label for="apodo">Apodo:</label>
                <input type="text" id="apodo" name="apodo" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="ejemplo@example.com">
    
                <label for="carrera">Nombre de Carrera:</label>
                <input type="text" id="carrera" name="carrera" required>
    
                <label for="materia">Nombre de Materia:</label>
                <input type="text" id="materia" name="materia" required>
    
                <label for="tipoDocumento">Tipo de Documento:</label>
                <select id="tipoDocumento" name="tipoDocumento" required>
                    <option value="apuntes">Apuntes</option>
                    <option value="examenes">Examenes</option>
                    <option value="parciales">Parciales</option>
                    <option value="trabajosPracticos">Trabajos Prácticos</option>
                </select>
                <p>Compartemos tus comentarios (opcional)</p>
                <textarea name="message" placeholder="Comentarios" id="custom-textarea"></textarea>
                <p>Seleccione a continuacion el archivo (Máx 50mb)</p>
                <input type="file" name="attachment" id="attachment" accept="image/png, image/jpeg, application/pdf, application/msword, application/vnd.ms-powerpoint, application/vnd.oasis.opendocument.text" required>
            
                <button type="submit">Enviar</button>
            </form>
        </section>
    </div>
    <script defer src="javascript/index.js"></script>
</body>
</html>