<!DOCTYPE html>
<html lang="es">

{{> head }}
    
<body>

    {{> navbar}} <!-- INCLUYE EL menu DINÁMICAMENTE CON LA PLANTILLA -->

    <main>
        {{> error}}
        {{{body}}}
    </main>
    
    {{> footer}} <!-- INCLUYE EL FOOTER DINÁMICAMENTE CON LA PLANTILLA -->

</body>

</html>
