@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    height: 100vh;
    
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------- baner------------------------------------------- */
.banner-container {
    position: relative;
    height: 500px;
    overflow: hidden;
}

/* BARRA DE BUSQUEDA */

.barrabusqueda {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.buscarAsignatura {
    text-align: center;
    font-size: 1em;
    width: 40%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

h1{
    padding-bottom: 15px;
    font-size: 42px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.container {
    display: grid;
    place-items: center;
    grid-row-gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}
p{
    line-height: 1.5;
}
/* ---------------------------------- */
/* Estilos para los cuadrados de profesores */
/* Estilos para los cuadrados de profesores */
.teachers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto; /* Ajusta el margen según tus preferencias */
    max-width: 1200px;
    padding: 20px; /* Añade un espacio interior al contenedor */
}

/* Estilos para los cuadrados de profesores */
.teachers {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 20px; /* Espaciado inferior entre tarjetas */
    padding: 16px;
    background-color: rgb(235, 241, 241);
    width: 48%; /* Ancho para dos en una fila */
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1); /* Añade sombra a cada tarjeta */
}

/* Consulta de medios para pantallas más grandes (ajusta según sea necesario) */
@media (max-width: 767px) {
    .teachers {
        width: 100%; /* Ancho completo para uno en una fila */
    }
}

/* Estilos para el contenido dentro de los cuadrados de profesores */
.teachers article {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
}

/* Restablecer márgenes y rellenar en el contenido según sea necesario */
.contenido {
    margin: 0;
    padding: 0;
}

.contenido>h3 {
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    font-weight: 700;
    margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.contenido>p {
    font-size: clamp(0.9rem, 1.0vw, 1.0rem);
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 22px;
}

/* Estilos para la imagen dentro de los cuadrados de profesores */
.foto {
    width: 100%;
    height: 300px; /* Ajusta la altura según tus preferencias */
    object-fit: cover;
    margin-bottom: 16px;
}

/* Estilos para el contenido dentro de los cuadrados de profesores */
.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para las redes sociales */
.socials {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px;
    gap: 5px;
}

.socials li {
    list-style: none;
}

.socials li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    font-weight: bold;
    transition: .2s;
    font-size: 10px;
}

.socials li a img {
    width: 25px;
    height: auto;
}

.socials li a:hover img {
    transition: 1.2s;
    transform: rotateY(360deg);
}
