
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  height: 100vh;
  
  font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------- baner------------------------------------------- */
.banner-container img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* Para manejar compatibilidad con versiones antiguas de Internet Explorer */
}
.estilo1 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;
}

.estilo2 {
  color: blue;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
/* Estilo para las líneas laterales */
.lineas-laterales {
  display: flex;
  align-items: center;
  width: 100%;
}

.linea {
  flex-grow: 1;
  height: 5px;
  background-color: #333;
  margin: 0 30px;
}

.boton-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
}

/* Estilo para los botones */
button {
  padding: 5px 15px;
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 5%;
  border-color:#c7ccd1;
  margin: 5%;
  height: 70px; /* Cambiar la altura de los botones */
}
button img {
  max-width: 100%;
  max-height: 100%; /* Establece la altura máxima del 100% del contenedor */
  height: auto;
  border-radius: 0; /* Elimina el borde redondeado */
  margin-right: 12px;
}


.texto-azul {
  margin: 0;
  color: blue;
}
.texto-celeste {
  margin: 0;
  color: rgb(0, 217, 255);
  font-weight: 900;
}
.texto-izquierdo {
  font-size: 36px;
  font-weight: 900;
  margin: 3%;
  text-align: left;
}
/* Estilo para la mitad superior de la imagen */
.imagen-superior {
  width:max-content;
  height: auto;
}

/* Estilo para la mitad inferior del texto */
.texto-inferior {
  margin-top: 5px;
}

.texto-azul {
  margin: 0;
  color: blue;
}
.texto-celeste {
  margin: 0;
  color: rgb(0, 217, 255);
  font-weight: 900;
}
.texto-izquierdo {
  font-size: 36px;
  font-weight: 900;
  margin: 3%;
  text-align: left;
}
.container-carusel {
  background-color: #92D5E04D;
  padding: 30px; /* Agrega un poco de espacio alrededor del contenedor */
}
.contenedor-principal {
  position: relative;
}
.tienda-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.articulo {
  flex-basis: calc(33.33% - 20px); /* 3 columnas, con espacio entre ellas */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px; /* Margen inferior más grande */
}

/* Estilos para la imagen redonda */
.roundImage {
  width: 55%; /* Centra la imagen */
  height: auto;
  border-radius: 45%;
  display: block;
  margin: 10px auto; /* Centra la imagen y agrega margen superior e inferior */
}

/* Estilos para los textos y botón en el lado posterior */
.title {
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.descripcion {
  font-size: 12px; /* Ajusta el tamaño del texto */
  margin: 10px;
  text-align: center;
}

.roundedButton {
  background-color: #ffffff; /* Fondo blanco */
  color: #3498db; /* Texto y borde azules */
  padding: 8px 16px;
  border: 1px solid #3498db; /* Borde azul */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 10px auto 15px; /* Margen superior, centrado horizontalmente y sin margen inferior */
}

/* Estilo para la navegación de botones */
.navegacion-botones {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final del contenedor */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 0 5px; /* Añade un poco de espacio en los extremos */
}

.navegacion-botones button {
  background-color: #0c588b;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px; /* Cambiar la altura de los botones */
}

.navegacion-botones button:hover {
  background-color: #0f2432;
}

/********************CONFIGURACION DE LAS CATEGORIAS PARA PANTALLAS CELULARES*********************/
/* Estilo para los botones en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .boton-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Cambia el tamaño de los botones al contenedor */
    gap: 5px; /* Reducir el espacio entre los botones */
    margin: 10px; /* Ajustar el margen */
  }

  button {
    padding: 8px 8px; /* Ajustar el padding de los botones */
    font-size: 8px; /* Cambiar el tamaño del texto de los botones */
    width: 100%; /* Ocupar el ancho completo del contenedor */
    height: 50px; /* Cambiar la altura de los botones */
  }
  button img {
    max-width: 45%; /* Hace que las imágenes se ajusten al ancho del botón */
    max-height: 100%; /* Establece la altura máxima del 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 5px;
  }
}

/* Estilo para los botones en pantallas medianas (800px - 900px) */
@media screen and (min-width: 800px) and (max-width: 900px) {
  button {
    font-size: 11px;
    height: 40px; /* Cambiar la altura de los botones */
  }

  button img {
    /* Tus estilos específicos para las imágenes dentro de los botones en este rango */
    max-width: 30%;
    max-height: 100%;
    height: auto;
    margin-right: 2px;
  }
  .navegacion-botones button{
    height: 35px;
    width: 30px;
  }
}
/* Estilo para los botones en pantallas menores a 800px */
@media screen and (max-width: 799px) {
  /* Estilos para los botones de navegación */
  .navegacion-botones button {
    height: 25px; /* Cambiar la altura de los botones de navegación */
    width: 19px; /* Cambiar el ancho de los botones de navegación */
    font-size: 10px; /* Cambiar el tamaño del texto dentro de los botones */
  }
}

